Repository Nixyar/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint, eslint .

.lintstagedrc.json:

{
  "**.css" : "npx stylelint",
  "*.ts" : "eslint ."
}

added lintstage
  .lintstagedrc.json
  package.json
Due: none

added lintstage
  .lintstagedrc.json
Due: none

added husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

added husky
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: none

config lint staged
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

config lint staged
  package.json
Due: none

added ts in http requests
  package.json
  src/services/messengerApi.service.ts
Due: eslint .

fixes password on registration page
  src/pages/registration-page/registration-page.ts
Due: eslint .

fixes registration
  src/pages/registration-page/registration-page.ts
Due: eslint .

added file for netlify redirects
  _redirects
  src/components/button/button.css
  src/components/chat-header/chat-header.css
  src/components/input-control/input-cotrol.css
  src/components/input-control/input/input.css
  src/components/search-input/search-input.css
  src/pages/auth-page/auth.css
  src/pages/error-page/error-page.css
  src/pages/messenger-page/chats-list/chat-item/chat-item.css
  src/pages/messenger-page/chats-list/chats-list.css
  src/pages/messenger-page/message-window/message-window.css
  src/pages/messenger-page/messenger.css
  src/styles.css
  static/assets/.DS_Store
  static/assets/fonts/TiroBangla-Italic.woff
  static/assets/fonts/TiroBangla-Italic.woff2
  static/assets/fonts/TiroBangla-Regular.woff
  static/assets/fonts/TiroBangla-Regular.woff2
  static/assets/images/.DS_Store
  static/assets/images/profile-test.png
  static/assets/styles/colors-variables.css
  static/assets/styles/fonts.css
  static/assets/styles/reset.css
Due: npx stylelint

added file for netlify redirects
  _redirects
  netlify.toml
Due: none

added file for netlify redirects
  README.md
  netlify.toml
Due: none

change netlify.toml
  netlify.toml
Due: none

Update README.md
  README.md
Due: none

update heroku info
  README.md
Due: none

update docker
  Dockerfile
  package.json
  server.js
Due: none

added redirect
  core/index.ts
  src/pages/auth-page/auth-page.ts
  src/pages/messenger-page/messenger-page.ts
  src/pages/registration-page/registration-page.ts
  src/services/initApp.service.ts
  src/services/websocket.service.ts
Due: eslint .

fixes redirect
  core/index.ts
  src/pages/auth-page/auth-page.ts
  src/pages/messenger-page/message-window/message-window.ts
  src/pages/registration-page/registration-page.ts
  src/services/initApp.service.ts
  src/services/websocket.service.ts
  src/utils/screenList.ts
  src/utils/withRouter.ts
  src/utils/withStore.ts
Due: eslint .

added fixes
  src/components/chat-header/chat-header.ts
  src/index.ts
  src/pages/messenger-page/chats-list/chat-item/chat-item.ts
  src/pages/messenger-page/chats-list/chats-list.ts
  src/pages/messenger-page/message-window/message-window.ts
  src/pages/messenger-page/messenger-page.ts
  src/pages/settings-page/settings-page.ts
  src/services/messengerApi.service.ts
  src/services/websocket.service.ts
  typings/app.d.ts
Due: eslint .

fixes
  src/components/button/button.ts
  src/components/input-control/input-control.ts
  src/components/input-control/input/input.ts
  src/pages/messenger-page/message-window/message-window.ts
Due: eslint .
